body {
  font-family: "Poppins";
}

.wrapper {
  padding-bottom: 20px;
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #323232;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0px 0 0px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
  padding-bottom: 15px;
}

button {
  background: #f78434;
  border-radius: 29px;
  width: 157px;
  height: 58px;
  border: none;
}

.item-info__button a,
.item-learn__button a,
.item-advertising__button a {
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  line-height: 24px;
  text-decoration: none;
}

/*  убирает подсветку во всех браузерах и не только на input, но и на других элементах, в том числе select, button, a: */
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.navbar-brand {
  height: 36px;
  top: calc(50% - 36px / 2 + 1px);
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #323232;
  left: 27.98%;
  right: 0%;
  margin: 0;
  padding: 4px 0 0 10px;
}

.logoicon {
  padding: 0 0px 12px 10px;
}

.container-fluid {
  justify-content: space-between;
  padding: 0 0 0 0;
  max-width: 1440px;
  background-color: #fff;
}

.navbar>.container,
.navbar>.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1120px;
}

.nav-item .navbar {
  padding: 0 0 0 0;
}

.navbar-nav {
  font-family: Poppins;
  font-style: normal;
  text-align: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #323232;
}

.navbar-light .padding-zero {
  padding: 0 0 0 0;
}

#homepage-navbar {
  font-weight: bold;
  color: #f78434;
}

.navbar-collapse {
  margin-right: -13px;
  flex-grow: 0;
}

.nav-item {
  padding: 0 13px 2.5px 13px;
}

::-webkit-input-placeholder {
  color: #bbbbbb;
}

:-ms-input-placeholder {
  color: #974848;
}

::-moz-placeholder {
  color: #bbbbbb;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #bbbbbb;
}

/* Firefox 18- */

.section-info-subscribe {
  max-width: 1275px;

}

.item-info {
  max-width: 1130px;
  background: url(/img/main/section1/Your\ image\ here.jpg) no-repeat right;
  height: 681px;
  margin-top: auto;
  margin-left: auto;
}

.item-info__title {
  padding-top: 130px;
  max-width: 650px;
  padding-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 79px;
  letter-spacing: 0.8px;
  color: #323232;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-info__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
  max-width: 490px;
  padding-left: 20px;
  padding-top: 25px;
}

.item-info-action {
  padding-left: 45px;
  padding-top: 42px;
}

input.item-info__input {
  margin-right: 3px;
  padding-left: 47px;
  background: url(/img/main/section1/icon-mail-logo.svg) no-repeat center left;
}

.item-info__input {
  border: none;
  text-align: left;
  background: #ffffff;
  border-radius: 29px;
}

.section-logo {
  height: 235px;
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.item-logo__ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.item-logo__li {
  padding: 0 47.5px 0 47.5px;
}

.section-learn {
  padding: 0 0 145px 0;
}

.item-learn {
  display: flex;
  justify-content: space-evenly;
  max-height: 556px;
}

.item-learn-content__image {
  display: flex;
  margin: 12px 0px 0px -160px;
}

.image-learn-photo_first {
  background: url(/img/main/section3-subs/Your\ images\ here.png) no-repeat left;
  border-radius: 0px 20px 20px 0px;
  height: 541px;
  width: 300px;
  margin-right: 35px;
}

.image-learn-photo_second {
  background: url(/img/main/section3-subs/image-town.jpg) no-repeat;
  border-radius: 20px 20px 0px 20px;
  height: 541px;
  width: 380px;
}

.item-learn-hover {
  display: flex;
  height: 140px;
  width: 300px;
  align-items: center;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  margin: 314px 0 0 100px;
  justify-content: space-evenly;
  opacity: 0;
  transition: all 1s ease-out;
}

.image-learn-photo_second:hover .item-learn-hover {
  margin-left: 130px;
  transition: all 1s ease-out;
  opacity: 1;
}

.item-learn-content {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  justify-content: space-evenly;
  padding: 0px 0 20px 0px;
  margin: 50px 0px 33.1px 20px;
}

.item-learn__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #323232;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0px 0 0px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-learn__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
  padding-bottom: 15px;
}

.item-learn__button {
  width: 170px;
}

.learn-text__hover {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */
  letter-spacing: 1.15px;
  color: #323232;
}

.learn-title__hover {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  color: #323232;
}

.item-learn-text__columm {
  max-width: 180px;
}

.backgroond-fffff {
  width: 1440px;
  height: 886px;
  background-color: #F5F6FA;
  ;
  position: absolute;
  margin: 230px 0 0 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.section-advertising {
  display: flex;
  max-width: 1110px;
  height: 464px;
  background-color: #58bebf;
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  justify-content: space-between;
  margin-top: -232px;
  margin-bottom: 125px;
}

.item-advertising-dashbord {
  display: flex;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 0px 21.6px 0px 0px;
  height: 406px;
  width: 555px;
  /* justify-content: center; */
  margin: 61px 0px 0px 0px;
  background: #ffffff;
}

.item-advertising-img {
  padding: 25px 0px 0 0px;
}

.item-element-circle__main-first {
  position: absolute;
  margin: 304px 0 0px 370px;
}

.item-element-circle__second {
  background: url(/img/main/section4-ad/sub-circl.svg) no-repeat center;
  position: absolute;
  margin: 0px 0px 366px 885px;
}

.item-advertising-content {
  display: flex;
  flex-direction: column;

  margin: 0px 8px 0px 100px;
  padding: 0px 0 0px 0;
}

.item-advertising__title {
  max-width: 450px;

  margin: 0px 0px 15px 0px;
  padding: 0px 0 0px 0;
  color: #ffffff;
}

.item-advertising__text {
  max-width: 300px;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
  padding: 0px 0 0px 0;
}

.item-advertising__button {
  margin: 0px 20px 0 0;
  width: 170px;
}

.item-advertising__button-white {
  background: #ffffff;
  border-radius: 29px;
  width: 172px;
  height: 58px;
  border: none;
}

.item-advertising__button-white a {
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  line-height: 24px;
  text-decoration: none;
}


.section-serve {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.item-buyers,
.item-sellers {
  width: 540px;
  height: 365px;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;

}

.item-buyers {
  background: #F78434;
  margin-right: 30px;
}

.item-serve-action {
  display: flex;
}

.item-serve__text {
  padding: 10px 0 25px 0;
}

.item-serve-content__text {
  max-width: 330px;
}

.item-serve-content__title {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.item-sellers,
.item-buyers {}